.body {
    width: 100%;
}
.filteredContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 5%;
    min-height: 100%;
}
.customSidebar{
    width: 20%;
    min-height: 100%;
    border-right: 2px solid rgb(170, 179, 179);
}
.filter-title{
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.filters{
    text-align: center;
    margin-left: 20%;
    margin-right: 15%;
}

.scrollpanel-demo .p-scrollpanel p {
    padding: .5rem;
    line-height: 1.5;
    margin: 0;
}

.scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-b);
}

.scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-bar {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

.scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
    background-color: #007ad9;
}

.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-b);
    border-bottom: 10px solid var(--surface-b);
}

.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-bar {
    background-color: var(--surface-d);
    border-radius: 0;
    opacity: 1;
    transition: background-color .2s;
}

.scrollpanel-demo .p-col-12 {
    padding: 2rem;
}
.p-scrollpanel-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.p-slider .p-slider-handle{
    color: #5988ff;
}
.p-slider .p-slider-range{
    background-color: #5988ff;
}
.p-selectbutton .p-button.p-highlight{
    background-color: #5988ff;
    border-color: #5988ff;
}
