.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-right: 5%;
    border-bottom: 2px solid #AAB3B3;
    width: 100%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.img {
    width: 15%;
    margin-left: 5%;
    cursor: pointer;
}
.menu {
    display:flex;
    flex-direction:row;
    align-content:center;
    margin-right: 5%;
}

.burger{
    color:black;
    background-color: white;
    border: 0px;
    padding-right: -1px;
    width: 0px;
    display:none;
}


@media screen and (max-width: 1370px)
{
    .img{
        width: 20%;
    }
}
@media screen and (max-width: 600px)
{
    .img{
        width: 60%;
    }
}
@media screen and (max-width: 300px)
{
    .img{
        width: 60%;
    }
}
@media screen and (max-width: 1690px)
{
    .p-mr-2{
        display:none;
    }
    .menu-to-shrink{
        display:none;
    }
    .burger{
        display:initial;
    }
}
