.container{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 180%;
    margin-bottom: 2%;
}
.phoneText{
    font-family: Lato, sans-serif;
    font-size: 120%;
    margin-bottom: 5%;
    margin-top: 3%;
}
.phoneChangeContainer{
    font-family: Lato, sans-serif;
    font-size: 100%;
    display: flex;
    flex-direction: column;
}
.phoneInput{
    width: 30%
}
