

.top {
    display: flex;
}

.apercu{
    width: 60%;
}

.description {
    width: 40%;
}


h2,h3 {
    margin-left: 1em;
    font-family: lato;
    color:#47525E;
}



p {
    word-wrap: break-word;
    font-family: lato;
    margin-left:1em;
}

.nomarticle {
    padding-top: 1em;
    padding-bottom:0.2em;
    padding-left:1em;
    font-size: 3em;
    margin: 0;
    text-align: justify;
    color:#47525E;
    font-family: lato;
}

.dropdown{

    padding-left: 0em;
}

.prix{
    margin-left: 0.5em;
}
.buttonajouter {
    padding-left: 1em;
}

.commentairediv h2 {
    margin-left:0.5em;
}

.commentairediv {
    margin-left: 2em;
}

.commentairediv p{
    margin-top:0;
}

.Note {
    margin-left: 3em;
}

.Notecomm {
    size: 0.5em;
    margin-left: 1em;
    padding-top:1.2em;
}

.commentairerating {
    display: flex;
}

.Quantite {
    display: flex;
}

.Quantite p{
    margin-right: 1em;
}