.confirm-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 12%;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 5%;
    padding-top: 3%;
    box-shadow: 1px 1px 5px #97a7d1;
}
.texte{
    font-family: Lato, sans-serif;
    font-size: 130%;
}
.texte-small{
    font-family: Lato, sans-serif;
    font-size: 100%;
}
.image {
    width:30%;
}
@media screen and (max-width: 600px)
{
    .confirm-container{
        padding-bottom: 10%;
        margin-top: 40%;
    }
    .texte{
        font-size: 100%;
    }
    .texte-small{
        font-family: Lato, sans-serif;
        font-size: 70%;
    }
    .image {
        width:70%;
    }
}
@media screen and (max-width: 300px)
{
    .confirm-container{
        padding-bottom: 20%;
        margin-top: 80%;
    }
    .texte{
        font-size: 80%;
    }
    .texte-small{
        font-family: Lato, sans-serif;
        font-size: 50%;
    }
    .image {
        width:100%;
    }
}
